*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: absolute;
width: 1440px;
height: 831px;
left: 0px;
top: 0px;

background: url(./Rectangle\ 1.jpg), #000000;
}
.nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav a{
    position: absolute;
width: 87px;
height: 28px;
left: 114.69px;
top: 73px;
}
.buttons{
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.buttons li{
    cursor: pointer;
    font-family: 'Poppins';
font-style: normal; 
    display: flex;
    width: 100px;
    height: 50px;
  margin: 80px 18px 0px ;
   color: #FBB034;
   list-style: none;
   justify-content: space-around;
   align-items: center;
}
.submit {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 18px 52px;
gap: 10px;


width: 182px;
height: 52px;

margin-top: 53px;
margin-right: 90px;
margin-left: 90px;
background: #FBB034;
cursor: pointer;


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 106.5%;
color: #000000;

}
.buttons :hover{
    transform: scale(1.3);
    transition-duration: 0.5s;
}
button:hover{
    transform: scale(1.2);
    transition-duration: 0.4s;
}

.floader img{
    position: absolute;
width: 720px;
height: 625px;
bottom: 0;
right: 0;

}
.floader h1{
    position: absolute;
width: 200px;
height: 16px;
left: 115px;
top: 342px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 106.5%;


text-transform: uppercase;
color: #FBB034;
}
.floader h2{
    text-transform:capitalize;
    position: absolute;
width: 513px;
height: 90px;
left: 115px;
top: 381px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 94.5%;


color: #FFFFFF;
}
.floader p {
    position: absolute;
width: 389px;
height: 66px;
left: 115px;
top: 493px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 106.5%;    
color: #9A9A9A;
}
.floader button{
    display: flex;
justify-content: center;
align-items: center;
padding: 21px 53px;
gap: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 14px;
position: absolute;
width: 182px;
height: 52px;
left: 115px;
top: 639px;

background: #FBB034;
}
.floader a{
    position: absolute;
width: 182px;
height: 53px;
left: 337px;
top: 639px;
border: 1px solid #FFFFFF;

}
.alla{
   display: flex;
   justify-content: center;
   align-items: center;
width: 90px;
height: 16px;


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 106.5%;



color: #FFFFFF;
}
.alla:hover{
    transform: scale(1.2);
    transition-duration: 0.4s;
}

.at {
    position: absolute;
width: 1440px;
height: 676px;
left: 0px;
top: 831px;

background: url(./WE\ ARE\ OPEN\ 1.png);
}
.rasm4{
    position: absolute;
width: 188px;
height: 282px;
left: 223px;
top: 131px;

}
._RASM{
    position: absolute;
width: 161px;
height: 118px;
left: 437px;
top: 131px;
}
.rasm5{
    
position: absolute;
width: 214px;
height: 292px;
left: 385px;
top: 271px;
transform: matrix(-1, 0, 0, 1, 0, 0);
z-index: 1;
}
.back{
    position: absolute;
    width: 245px;
    height: 320px;
    left: 369px;
    top: 255px;
    
    background: #FFFFFF;
}
.at p{
    position: absolute;
width: 70px;
height: 19px;
left: 767px;
top: 166px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 106.5%;



color: #FBB034;

}
.at h2{
    position: absolute;
width: 451px;
height: 90px;
left: 767px;
top: 208px;

font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 94.5%;
/* or 45px */


color: #000000;

}
.at h3{
    position: absolute;
width: 401px;
height: 57px;
left: 767px;
top: 311px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 106.5%;
/* or 19px */


color: #565656;

}
.at button{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 18px 51px;
gap: 10px;

border: none;
position: absolute;
width: 188px;
height: 52px;
left: 780px;
top: 411px;

background: #FBB034;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 106.5%;
/* identical to box height, or 16px */
cursor: pointer;

color: #000000;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.next h1{
position: absolute;
width: 79px;
height: 19px;
left: 118px;
top: 1637px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 106.5%;



color: #FBB034;
}
.nex{
    position: absolute;
    width: 1440px;
    height: 510px;
    left: 0px;
    top: 1507px;
    
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66)), url(.jpg);
    
filter: blur(3px);
}
.next p{
    position: absolute;
width: 586px;
height: 90px;
left: 115px;
top: 1668px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 94.5%;
/* or 45px */


color: #FFFFFF;

}
.next h2{
    position: absolute;
width: 339px;
height: 38px;
left: 118px;
top: 1786px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 94.5%;
/* or 19px */


color: #B8B8B8;
}
.cub{
    position: absolute;
width: 320px;
height: 283px;
left: 929px;
top: 1621px;

background: #FFFFFF;
}
.cub h1{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 110px;
    top: 61px;
    
    background: #E8E8E8;
    
    border-radius: 500px;
}
.cub h1 img{
    position: absolute;
    left: 31px;
    top: 34px;

}
.cub p{
    position: absolute;
width: 90px;
height: 19px;
left: 115px;
top: 172px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 94.5%;
/* identical to box height, or 19px */


color: #B8B8B8;

}
.cub h2{
    position: absolute;
width: 161px;
height: 23px;
left: 80px;
top: 199px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 94.5%;
/* identical to box height, or 23px */


color: #000000;

}
.next h4{
    display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

gap: 10px;

position: absolute;
width: 251px;
height: 52px;
left: 128px;
top: 1852px;

background: #FBB034;


font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 106.5%;
/* identical to box height, or 16px */


color: #FFFFFF;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
.next h4:hover{
    transform: scale(1.1);
    transition-duration: 0.4s;
}

.img{
    position: absolute;
width: 1134px;
height: 393px;
left: 153px;
top: 2107px;

background: #FBB034;
}
.img img{
    position: absolute;
width: 573px;
height: 393px;
left: 0px;
top: 0px;
}
.card h1{
    position: absolute;
width: 255px;
height: 30px;
left: 791px;
top: 2167px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 94.5%;
/* or 30px */


color: #FFFFFF;
}
.card h2{
    position: absolute;
width: 300px;
height: 68px;
left: 880px;
top: 2143px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 106.5%;
/* or 68px */


color: rgba(236, 236, 236, 0.1);
text-transform: uppercase;
}
.card p{
    position: absolute;
width: 294px;
height: 19px;
left: 772px;
top: 2202px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 106.5%;
/* or 19px */


color: #000000;
}
.card h3{
    position: absolute;
width: 368px;
height: 15px;
left: 772px;
top: 2256px;
padding-bottom: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 94.5%;
/* or 15px */


color: #FFFFFF;
border-bottom: 1px dashed black;
}
.card h4{
    position: absolute;
    width: 368px;
    height: 15px;
    left: 772px;
    top: 2317px;
    padding-bottom: 20px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 94.5%;
    /* or 15px */
    border-bottom: 1px dashed black;


color: #FFFFFF;

}
.card h5 {
    position: absolute;
width: 85px;
height: 12px;
left: 1050px;
top: 2258px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 94.5%;
/* or 12px */


color: #000000;

}
.card h6{
    position: absolute;
    width: 85px;
    height: 12px;
    left: 1050px;
    top: 2321px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 94.5%;
    /* or 12px */
    
    
    color: #000000;

}
.card button{
    box-sizing: border-box;
background: none;
position: absolute;
width: 166px;
height: 39px;
left: 782px;
top: 2375px;

border: 1px solid #000000;
}